

.logo
{
    width: 48px;
    height: 48px;
}

.btn 
{
    border:none;
    background-color: $color-Black;
    color: $color-White;
    padding: .57em 1.92em;
    border-radius: 28px;
    transition: all 300ms;
    font-size: .875rem;
    font-family: inherit;
    cursor: pointer;

    &:hover {
        background-color: $color-GalacticBlue;
    }

    &--red
    {
        background-color: $color-LightRed;
    }
}

.heading-m
 {
    font-size: 1.625rem;
 }


 

@media (min-width:768px)
{
    .logo {
        width: 64px;
        height: 64px;
    }
    .btn {
        font-size: .88rem;
    }

    .heading-m
    {
        font-size: 1.77rem;
    }
    
}

@media (min-width:1440px)
{
    .heading-m {
        font-size: 2.22rem;
    }
}