body {
  margin: 0;
  color: #030303;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p {
  line-height: 1.6;
  color: #7A746E;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
.logo, .footer__logo, .masthead__logo {
  width: 48px;
  height: 48px;
}

.btn, .footer__btn, .cta__btn, .profile__btn, .masthead__btn {
  border: none;
  background-color: #030303;
  color: white;
  padding: 0.57em 1.92em;
  border-radius: 28px;
  transition: all 300ms;
  font-size: 0.875rem;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover, .footer__btn:hover, .cta__btn:hover, .profile__btn:hover, .masthead__btn:hover {
  background-color: #755CDE;
}
.btn--red, .cta__btn, .profile__btn {
  background-color: #EB7565;
}

.heading-m, .cta__title, .profile__title {
  font-size: 1.625rem;
}

@media (min-width: 768px) {
  .logo, .footer__logo, .masthead__logo {
    width: 64px;
    height: 64px;
  }
  .btn, .footer__btn, .cta__btn, .profile__btn, .masthead__btn {
    font-size: 0.88rem;
  }
  .heading-m, .cta__title, .profile__title {
    font-size: 1.77rem;
  }
}
@media (min-width: 1440px) {
  .heading-m, .cta__title, .profile__title {
    font-size: 2.22rem;
  }
}
.header {
  padding: 1em 4.2% 2em;
  text-align: center;
}

.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
}
.hero {
  max-width: 752px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-size: 2.25rem;
}

@media (min-width: 768px) {
  .header {
    padding: 1.88em 5% 3.55em;
  }
  .masthead {
    margin-bottom: 3.55em;
  }
  .hero__title {
    font-size: 2.44rem;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 1.88em 11.4% 4.44em;
  }
  .hero__title {
    font-size: 3.11rem;
  }
}
.skills {
  display: grid;
  grid-template-columns: 46% 46%;
  column-gap: 7.2%;
  row-gap: 1.5em;
  padding: 0 4.2%;
}
.skills__skill {
  background-repeat: no-repeat;
  background-position: top 0.85em right 0.85em;
  border-radius: 8px;
  display: flex;
  align-items: end;
  padding: 0.85em;
  height: 182px;
}
.skills__skill__label {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.skills__skill--design {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: #755CDE;
  background-image: url(../../assets/pattern-graphic-design.svg);
  height: 364px;
}
.skills__skill--ui {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #F6A560;
  background-image: url(../../assets/pattern-ui-ux.svg);
}
.skills__skill--apps {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #F39E9E;
  background-image: url(../../assets/pattern-apps.svg);
}
.skills__skill--illustrations {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: #EB7565;
  background-image: url(../../assets/pattern-illustrations.svg);
}
.skills__skill--photography {
  grid-column: 1/-1;
  grid-row: 4/5;
  background-color: #61C4B7;
  background-image: url(../../assets/pattern-photography.svg);
}
.skills__skill--motion {
  grid-column: 1/-1;
  grid-row: 5/6;
  background-color: #552049;
  background-image: url(../../assets/pattern-motion-graphics.svg);
}

@media (min-width: 768px) {
  .skills {
    grid-template-columns: 48% 22.4% 22.4%;
    column-gap: 3.4%;
    row-gap: 1.33em;
    padding: 0 5%;
  }
  .skills__skill {
    padding: 1.33em;
  }
  .skills__skill--design {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
  }
  .skills__skill--ui {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .skills__skill--apps {
    grid-column: 3/-1;
    grid-row: 1/2;
  }
  .skills__skill--illustrations {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
  .skills__skill--photography {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .skills__skill--motion {
    grid-column: 2/-1;
    grid-row: 3/4;
  }
}
@media (min-width: 1440px) {
  .skills {
    padding: 0 11.4%;
    grid-template-columns: 31% 14% 14% 31%;
    column-gap: 2.1%;
  }
  .skills__skill--design {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .skills__skill--ui {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .skills__skill--apps {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .skills__skill--photography {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .skills__skill--illustrations {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .skills__skill--motion {
    grid-column: 4/-1;
    grid-row: 2/3;
  }
}
.profile {
  padding: 6.25em 4.2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}
.profile__img {
  display: block;
  width: min(87%, 890px);
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.profile__content {
  max-width: 540px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile__btn {
  margin-top: 1.71em;
}

@media (min-width: 768px) {
  .profile {
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 0;
  }
  .profile__img {
    width: 47%;
    position: relative;
    left: -3em;
    margin-right: 0;
    margin-left: 0;
  }
  .profile__content {
    width: 43%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .profile {
    padding: 7.5em 11.4% 4.8%;
  }
  .profile__img {
    left: 0;
  }
}
.work {
  text-align: center;
  margin-bottom: 6.25em;
}
.work__title {
  font-size: 1.5rem;
  margin-bottom: 1.33em;
}
.work__content {
  display: flex;
  gap: 1em;
  position: relative;
  left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 1em));
  width: 100%;
  margin-bottom: 3.5em;
}
.work__content--slide-to-right {
  animation-name: slide-to-right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.work__content--slide-to-left {
  animation-name: slide-to-left;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.work__img {
  width: min(72vw, 540px);
}
.work__btns {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.work__btn {
  width: 64px;
  height: 64px;
  background-color: #030303;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 300ms;
}
.work__btn:hover {
  background-color: #755CDE;
}

@keyframes slide-to-right {
  0% {
    left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 1em));
  }
  100% {
    left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 1em) * 2);
  }
}
@keyframes slide-to-left {
  0% {
    left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 1em) * 2);
  }
  100% {
    left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 1em));
  }
}
@media (min-width: 768px) {
  .work {
    margin-bottom: 7em;
  }
  .work__title {
    margin-bottom: 1.75em;
  }
  .work__content {
    gap: 2em;
    left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 2em));
  }
  @keyframes slide-to-right {
    0% {
      left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 2em));
    }
    100% {
      left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 2em) * 2);
    }
  }
  @keyframes slide-to-left {
    0% {
      left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 2em) * 2);
    }
    100% {
      left: calc(50% - min(72%, 540px) / 2 - (min(72%, 540PX) + 2em));
    }
  }
}
@media (min-width: 1440px) {
  .work {
    margin-bottom: 4.88em;
  }
}
.cta {
  text-align: center;
  background-color: #030303;
  padding: 3em 1.5em;
  width: 91.4%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.cta > * {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.cta__title {
  color: white;
}
.cta__body {
  color: white;
}
.cta__btn {
  margin-top: 1.71em;
}

@media (min-width: 768px) {
  .cta {
    padding: 3.11em 4em 3.55em;
    width: 89%;
  }
}
@media (min-width: 1440px) {
  .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 4.5em 3.6em 4.44em;
    width: 77%;
  }
  .cta__content {
    margin-left: 0;
  }
}
.footer {
  padding: 2.43em 4.2% 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer {
    padding: 3.1em 5%;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 3.1em 11.4% 3.55em;
  }
}

/*# sourceMappingURL=style.css.map */
